@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 9;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
}

.left, .right {
	transform: scale(5);
}

.main {
	display: flex;
	justify-content: center;
	margin: 100px;
	align-items: center;
	gap: 50px;
	border: 5px solid black;
	width: 1000px;
	height: 1000px;
	border-radius: 50px;
	transform: scale(0.7);
}

.container {
	display: flex;
	gap: 50px;
}

.trafic {
	width: 250px;
	height: 600px;
	border: 30px solid black;
	border-radius: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background-color: gray;
}

.light {
	width: 150px;
	height: 150px;
	border: 10px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 70px;
}

.red, .red2 {
	background-color: red;
}

.green, .green2 {
	background-color: green;
}

.yellow, .yellow2 {
	background-color: yellow;
}

@media screen and (max-width: 1000px) {
	.main {
		transform: scale(0.3);
		padding: 100px;
	}
}